.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-top: 13px;
}

.next-button {
  width: 100%;
  height: 59px;
  background: linear-gradient(180deg, #73A3D7 0%, #4187CA 46.63%, #79B0D7 100%);
  box-shadow:
    5.32px 5.32px 0px 0px #DBDBDB inset,
    -5.32px -5.32px 0px 0px #808080 inset,
    2.66px 2.66px 0px 0px #FFFFFF inset,
    -2.66px -2.66px 0px 0px #000000 inset;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.next-button:disabled {
  background: #bfbfbf;
  cursor: not-allowed;
  opacity: 0.9;
}

.next-button:hover:not(:disabled) {
  opacity: 0.95;
}

