.flexible-wizard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.wizard-progress {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 16px;
  align-items: center;
}

.wizard-header-edit {
  padding: 16px;
}

.back-button {
  background: white;
  width: 55px;
  height: 20px;
  outline: 1px solid #AEAEAE;
  border-radius: 2px;
  color: #1A1502;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  padding: 0;
  gap: 4px;
}

.progress-indicator {
  flex-grow: 1;
  outline: 1px solid #AEAEAE;
  padding: 2px;
  border-radius: 2px;
  height: 20px;
  display: flex;
  gap: 4px;
  background: white;
}

.progress-block {
  height: 16px;
  background: linear-gradient(180deg, #E45F3E 0%, #E77157 51.44%, #BB3916 100%);
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.step-indicator {
  background: white;
  width: 55px;
  height: 20px;
  outline: 1px solid #AEAEAE;
  border-radius: 2px;
  color: #1A1502;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wizard-content {
  flex: 1;
  overflow-y: auto;
  padding: 0; /* Step components usually handle their own padding */
  display: flex;
  flex-direction: column;
  min-height: 0;
}
