@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'HardPixel';
  src: url('../_assets/HardPixel.otf') format('opentype');
}

body {
  background: var(--tg-theme-secondary-bg-color, white);
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--tg-theme-text-color, black);
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  color: var(--tg-theme-secondary-bg-color, white);
}

.logo {
  font-family: "HardPixel", sans-serif;
  font-size: 24px;
  color: var(--tg-theme-text-color, black);
}
